@width: 30px;

body {
	
	margin: 0;
	padding: 0;
	
}

ul#vis {
	
	margin: 0;
	padding: 0 100px;
	
	> li {
		
		
		list-style: none;
		height: 1em;
		
		ul {
			
			position: relative;
			
			li {
				
				font-size: 3px;
				display: inline-block;
				overflow: hidden;
				
			}
			
			li.active {
				
				background: teal;
				
			}
			
			
			li::before {
				
				.pseudoItem();
				position: absolute;
				top: 0;
				left:0;
				width: 100%;
				height: 100%;
				.linear-gradient();
				
			}
			
		}
		
	}
}

#viewer {
	
	position: fixed;

	z-index: 20;
	pointer-events: none;
	
	top: 20%;
	
	span {
					
		.transition( all, 1s );

		
	}
	
	
	.added {
		
		font-size: 2em;
		
	}
	
	.removing {
		
		font-size: 10em;
		opacity: 0;
		text-align: center;
		
	}
	
}

.border-radius( @radius: 5px ) {
	
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	
}

.linear-gradient() {
	
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
}

.hideText {
	
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	
}

.pseudoItem() {

	.hideText();
	content: ".";
	display: block;	
	
}


.transition( @property: all, @duration: .3s ) {
	
	transition: @property @duration;
	-webkit-transition: @property @duration;
	-moz-transition: @property @duration;
	-o-transition: @property @duration;
	
}