ul#vis > li {
  width: 30px;
  display: inline-block;
  position: relative;
}
ul#vis > li ul li {
  position: absolute;
  font-size: 3px;
  width: 30px;
  max-height: 10em;
  overflow: hidden;
  -webkit-transition: all .3s;
}
ul#vis > li ul li:hover {
  font-size: 10px;
  width: 300px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
