body {
  margin: 0;
  padding: 0;
}
ul#vis {
  margin: 0;
  padding: 0 100px;
}
ul#vis > li {
  list-style: none;
  height: 1em;
}
ul#vis > li ul {
  position: relative;
}
ul#vis > li ul li {
  font-size: 3px;
  display: inline-block;
  overflow: hidden;
}
ul#vis > li ul li.active {
  background: teal;
}
ul#vis > li ul li::before {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  content: ".";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

}
#viewer {
  position: fixed;
  z-index: 20;
  pointer-events: none;
  top: 20%;
}
#viewer span {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
#viewer .added {
  font-size: 2em;
}
#viewer .removing {
  font-size: 10em;
  opacity: 0;
  text-align: center;
}
.hideText {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
